/* Attribute Selectors */

.form-contact {
  padding: 20px 24px;
  background: #f4f7f8;
}

#container {
  max-width: 500px;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
}

input[type="email"] {
  background: #fdfee6;
}

/* DRY Classes */

.br {
  border-radius: .5em;
}

.headshot {
  display: block;
  margin: 0 auto 2em;
}

.rounded {
  border-radius: 50%;
}

.btn {
  cursor: pointer;
  font-size: .875em;
  font-weight: 400;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
}

.btn:hover {
  opacity: .75;
}

.default {
  background-color: #52bab3;
}

.error {
  background-color: #ff784f;
}

@media (min-width: 769px) {
  .inln {
    width: auto;
    display: inline-block;
  }
}

/* Combinators --------------------------*/
