body {
  margin: 0;
  padding: 0;
  font-family: 'Calibri';
}

h1 {
  text-align: center;
  padding: 0;
}
 /* -------Navigation Elements------- */


nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  z-index: 500;
  transition: .5s;
}

nav.black {
  background: rgba(0,0,0,0.8);
}

nav .logo {
  padding: 10px;
  height: 80px;
  float: left;
  font-size: 40px;
  color: white;
  font-family: 'Raleway', sans-serif;
}

nav ul {
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
  font-family: 'Raleway', sans-serif;
}

nav ul li a {
  line-height: 80px;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
}

nav ul li a.active,
nav ul li a:hover {
  color: #fff;
  background: #f00;
}

/* -------Column Sections------- */

/* Coding background image */
section.sec1 {
  width: 100%;
  height: 100vh;
  background: url('coding.jpg');
}

section.content {
  padding: 20px;
}

section.content h1 {
  margin: 0;
  padding: 0;
  font-size: 2em;
}

section.content p {
  margin: 10px 0 0;
  padding: 0;
  font-size: 1.1em;
  text-align: justify;
}

.column {
  display: table-cell;
  padding: 10px;
  width: 33.33333%;
}

/* Headshot Formatting */
img {
  border: 2px solid #80aab7;
  position: absolute;
  top: 200px;
  left: 170px;
  z-index: 0;
}

/* Form and Footer */

form {
  margin-bottom: 60px;
}

input,
textarea {
  font-size: 1em;
  color: black;
  font-weight: 300;
  width: 100%;
  border: none;
  height: auto;
  padding: 10px;
  outline: 0;
  margin-bottom: 1.2em;
  border-radius: .3em;
  border-bottom: 3px solid rgba(0,0,0,0.05);
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

.responsive-bar {
  display: none;
}


/* Mobile Responsive */

@media (max-width: 768px) {

  .responsive-bar {
    display: block;
    width: 100%;
    height: 60px;
    background: #262626;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 20px;
    box-sizing: border-box;
    z-index: 501;
  }

  .responsive-bar .logo {
    padding: 10px;
    height: 80px;
    float: left;
    font-size: 25px;
    color: white;
    font-family: 'Raleway', sans-serif;
  }

  .responsive-bar .menu h4 {
    float: right;
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 50px;
    cursor: pointer;
    text-transform: uppercase;
  }

  nav,
  nav.black {
    background: #262626;
    height: 60px;
    padding: 0;
  }

  nav .logo {
    display: none;
  }

  nav ul {
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    background: #262626;
    float: none;
    display: none;
  }

  nav ul.active {
    display: block;
  }
  nav ul li {
    width: 100%;
  }

  nav ul li a {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    line-height: 30px !important;
    color: #fff;
  }
}

/*
  .column {
    width: 100%;
    display: block;
    margin: 10px 0;
  }
}
